# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Next.js Build Output
/.next/
/out/
/build/

# Production Build
/build

# Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Debugging
*.pem
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE and Editor Folders
.idea/
.vscode/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db

# Temporary and Backup Files
*.tmp
*.bak
*.backup
.history/

# Misc
*.log
